
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {

}
.buttons{
	background: transparent;
	border:none;
}

.border{
	border: 3px solid;
	border-color: #000215;
}


.header {
	background-color: #000215;
}

.logo {
	text-align:center;
	margin: 15px 0  15px;
	padding: 0;
	color:#FFFFFF;
	font-size:30px;
	font-family: 'Asap', bold;
}

.logo-color {
	color:#81c0e4;
}

.menu-item {
	margin: 0;
	padding: 15px 0  15px;
	text-align:center;
	color: #ffffff;
	font-size:30px;
	font-family: 'YanoneKaffeesatzRegular';
	display:block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.menu-item:hover{
	background-color: #01102d;
}

.menu-item.active{
	background-color: #011d44;
}


.auth {
	margin-right:15px;
	float:right;
	padding: 14px 0  16px;
	color: #81c0e4;
	font-size: 30px;
	font-family: 'YanoneKaffeesatzRegular';
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.auth img{
	margin-left: 5px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.auth:hover{
	color: #fff;
}

.menu-button{
	position: absolute;;
	padding: 16px 20px  14px 0;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	z-index:10;
}

.footer{
	background-color: #000215;
}

.footer-line{
	height:9px;
	background-color: #81c0e4;
}

.footer-content{
	font-size: 25px;
	font-family: 'YanoneKaffeesatzRegular';
	text-align:center;
	color: #ffffff;
	padding:22px;
	line-height: 1.85;
}

.footer-social{
	text-align: center;
	margin-bottom: 25px;
}

.soc-button{
	margin-left: 7px;
	margin-right: 7px;
	display: inline-block;
}

/* C O N T E N T */

.find-form{
	margin:25px 0 0 0;
	padding:0;
	background-color: #000215;
}

.find-form input{
	margin:0;
	width: 80%;
	padding:0 0 0 10px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	height: 40px;
	background-color: #FFFFFF;
	vertical-align: top;
	text-align: left;
	font-size:25px;
	color: #000215;
	font-family: 'YanoneKaffeesatzRegular';
}

.find-form button{
	width:19%;
	margin:0;
	padding:0;
	border:none;
	background-color: transparent;
	text-align: center;
	font-size:25px;
	color: #81c0e4;
	font-family: 'YanoneKaffeesatzRegular';
}

.find-form button:hover{
	color:#fff;
}

.content-razdelitel{
	margin:25px 0 43px 0;
	text-align: center;
}

.content-razdelitel-fix{
	margin-top: 0;
}

.content-razdelitel hr{
	border: none;
	background-color: #000215;
	height: 3px;
	margin: 18px 0 0 0;
}

.content-razdelitel-block{
	top:0;
	right: 0;
	left: 0;
	margin: auto;
	position: absolute;

	width: 30%;
	height: 39px;
	color: #FFFFFF;
	background-color: #000215;
	text-align: center;
	font-family: 'YanoneKaffeesatzRegular';
	font-size: 25px;
}

.content-news{
	font-family: 'YanoneKaffeesatzRegular';
}

.content-news-item{
	padding:0;
	margin-bottom: 25px;
}

.content-news-item-side{
	margin-top: 18px;
}

.content-news-item-side-text {
	font-size: 19px;
	text-align: justify;
	padding-bottom: 13px;
}

.content-news-item-side-text-nazv{
	font-size: 25px;
	margin: 5px 0 10px 0;
}

.content-news-item-side-picture{
	border-right: 3px solid #000215;
	text-align: center;

	padding:0;

}

.content-news-item-side-picture img{
	width:100%;
	height:auto;
}

.content-news-item-block{
	top:0;
	right: 0;
	margin: auto;
	position: absolute;

	width: 20%;
	height: 39px;
	color: #FFFFFF;
	background-color: #000215;
	text-align: center;
	font-size: 25px;
	z-index:10;
}

.content-onas{
	text-align: justify;
	font-family: 'YanoneKaffeesatzRegular';
	font-size: 25px;
}

.content-obratnaya{
	text-align: center;
	font-family: 'YanoneKaffeesatzRegular';
	font-size: 25px;
	margin-bottom:45px;
}
/* C O N T E N T */