/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .content-slider-container{
        padding: 0 88px 0;
    }

    .content-allitems-tovari-tovar-cena{
        font-size: 20px;
        padding: 6px 0 4px 0;
    }

    .auth{
        display:none;
    }
    .menu{
        margin-top:73px;
        display:none;
        width:100%;
    }

    .menu-item{
        display: block;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .content-slider-container{
        margin:89px 15px 0 15px;
        padding: 0 82px 0;
    }

    .content-news-item-side-picture{
        border-right:none;
        border-bottom: 3px solid #000215;
    }
    .content-allitems-tovari-tovar-cena{
        font-size: 23px;
        padding: 4px 0 2px 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .find-form button{
        width:25%;
    }

    .find-form input{
        width:73%;
    }

    .content-razdelitel-block{
        width:55%;
    }

    .content-news-item-block{
        font-size: 20px;
        width: 25%;
        padding-top: 4px;
    }

    .content-news-item-side-text-nazv{
        font-size: 23px;
    }

    .content-slider-container{
        padding: 0 72px 0;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .content-slider-container{
        padding: 0 44px 0;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .menu {
        display:block !important;
    }
}